* {
    box-sizing: border-box;
}

:root {
    --color: darkblue;
}

nav {
    background-color: var(--color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

h1 {
    color: var(--color);
    padding: 10px 5px;
    border-bottom: 1px solid black;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 10px;
}

main {
    max-width: 840px;
    grid-column: 2/3;
    grid-row: 1/2;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
}

